@font-face {
	font-family: 'bigelowrules-regular';
	src: url('fonts/bigelowrules-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'UpperEastSide-webfont';
	src: url('fonts/UpperEastSide-webfont.ttf') format('truetype');
}
@font-face {
	font-family: 'rockwen';
	src: url('fonts/rockwen.ttf') format('truetype');
}
*{
	box-sizing: border-box;
}
header {
	height: 100px;
	width: 100%;
/*	width: 650px;  */
}
.entete {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body {
	background: #2c3e50;
	width: 99%;
/*	height: 600px;
	max-width: 800px;  */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.logo {
width: 192px;
margin: 40px;
/*	display: flex;
	align-items: center;
	font-size: 5rem;
	font-family: 'bigelowrules-regular', Impact, Arial, serif;
	color: deepskyblue;
	*/
}

  .navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position:top;
	z-index: 99;

  }
  .navbar li {
	height: auto;
	width: 80%;
	text-align: center;
	list-style: none;
	font: normal bold 13px/1em Arial, Verdana, Helvetica;
	padding: 7px;
	margin-right: 10px;
	background: rgb(82, 212, 147); 
	border-radius: 7px;
}
.navbar li:hover{
	opacity : 100%;
	
}
.navbar b {
	padding: 7px ;
	text-decoration: none;
	color: black;
	display: block;
	text-align: left;
	
}
.navbar li ul {
	display: none;
	height: auto;
	margin: 5px;
	padding: 0;
	z-index: 1;
	
}
.navbar li:hover ul {
	display: block;
  }
#nav {
	align-self:center;
	margin-bottom: 15px;
	color: deepskyblue;
}

#form4 {
	display: flex;
	padding:5px;
	background: transparent;
	margin: 5px;
	margin-top: 20px;
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
}
.centre{
	display:flex;
	align-self: center;
	margin: 0 5px 0 7px ;
	background: transparent;
	color:rgb(82, 212, 147);

	animation-duration: .8s;
	animation-name: clignoter;
	animation-iteration-count: infinite;
	transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 
 
}
#zone1 {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	background: deepskyblue;
	padding: 10px;
	margin-bottom: 30px;
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
	width: 90%;
/*	width: 500px;   */
	height: 150px;
}

.container-input{

	display: flex;
	justify-content: space-between;
	align-items: center;
}
#input1 {
	display: flex;
	width: 80%;
	background: transparent;
	font-family: 'rockwen', "Gill Sans", "Gill Sans MT", Calibri, Trebuchet MS, sans-serif;
	font-size: 1.4rem;
	text-align: left;
	border: none;
	border-bottom: black 2px solid;
	text-transform: uppercase;
}
button {
	/*display: flex;*/
	margin-left: 10px;
	padding: 5px 10px;
	border: none;
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
	background: transparent;
	border-radius: 10px;
	font-family: 'UpperEastSide-webfont';
	font-size: 1.5em;
	cursor: pointer;
}
button3 {
	/*border: 1px solid black;*/
	margin-left: 10px;
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
	padding: 5px 10px;
	background: transparent;
	border-radius: 10px;
	font-family: 'UpperEastSide-webfont';
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
}


.pave {
	column-count: 3;
	column-gap: 10px; 
	margin: 20px;
	display:inline;
	/*flex-direction: column;*/
	align-items:normal;
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
	padding: 10px;
	background: transparent;
	width: 99%;
	height: 100%;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.3rem;

	}



#box2 {
	text-align: left;
	color: deepskyblue;
}
#output{
	color: deepskyblue;
}
.output, .result
{
	display: flex; /* Utilisation du modèle de flexbox */
    flex-direction: row; /* Disposition des éléments sur une ligne */
    justify-content: left; /* Centrer les éléments horizontalement */
    margin: 5px 0; /* Marge entre chaque ligne */
}
#result {
	display: flex;
	width: 200px;
	margin-left: 0px; 
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	text-align: left;
	color: rgb(82, 212, 147);
}



#error {
	font-family: 'Impact', Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.3em;
	color: red;
	visibility: hidden;
	text-align: center;
	margin-top: 20px;
}

li {
	list-style-type: none;
}
#number {
	font-family: 'Impact', Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#nombreCoups{
	margin-left: 5px;
}
.gagne {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Impact', Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.3em;
	color: #784d4d;
	visibility: hidden;
	background: rgb(231, 148, 148);
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
	height: 60px;
	width: 470px;
	padding: 50px;
}
button2 {
	border: 1px solid;
	background: deepskyblue;
	padding: 5px 10px;
	margin-top: 10px ;
	border-radius: 10px;
	font-family: 'UpperEastSide-webfont';
	font-size: 1.5em;
	cursor: pointer;
}
#chat{
	margin-left:7px;
}
#triche{
	font-family: 'Impact', Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(52, 92, 98, 1);
	visibility:hidden;
	text-align: center;
}
#rejouer {
	border: 1px solid;
	background: deepskyblue;
	padding: 5px 10px;
	margin-top: 5px ;
	border-radius: 10px;
	font-family: 'UpperEastSide-webfont';
	font-size: 1.5em;
	cursor: pointer;
	visibility: hidden;
	transition: .5s;
	text-align: center;
	box-shadow: inset 0 0 0.2em rgb(15, 15, 15), 0 0 2em black;
}
#definition {
	
	background: rgb(231, 148, 148);
	margin: 10px;
	visibility: hidden;
}


h4 { width: 150px;
    border:1px solid deepskyblue;
    margin: 20px auto;
    padding: 15px;
    background: rgb(241, 232, 217);
    color: black;
    border-radius: 7px;
    text-align: center;
}
footer
{
	border-top: 4px solid black;	
	position: fixed;
	/*display: flex; */
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
	/*height: auto; */
	width: 100%;
	/*padding-top: 20px;*/
	color: black;
}
.copyright {
	color: deepskyblue;
	text-align: center;
}



.zero{
	color: deepskyblue;

}
.lignes{
	color: deepskyblue;
}
.une{
	color: rgb(255, 247, 0);

}
.deux{
	color: rgb(255, 153, 0);

}
.trois{
	color: rgb(255, 34, 0);

}
.quatre{
	color: rgb(231, 148, 148);

}
